venv
.env
diet_program_app/__pycache__
diet_program_app/migrations/__pycache__
exercise_program_app/__pycache__
exercise_program_app/migrations/__pycache__
fitness_program_app/__pycache__
messaging_app/__pycache__
messaging_app/migrations/__pycache__
posts_app/__pycache__
posts_app/migrations/__pycache__
profiles_app/__pycache__
profiles_app/migrations/__pycache__
search_app/__pycache__
search_app/migrations/__pycache__
social_feed_app/__pycache__
social_feed_app/migrations/__pycache__
user_auth_app/__pycache__
user_auth_app/migrations/__pycache__